html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #e03fd0;
}

p {
  color: white;
  margin: 0;
}

#log_wrapper {
  overflow-y: scroll;
  height: 60%;
}

/* #room_input_wrapper, #msg_input_wrapper {
  display: none;
} */
